@keyframes spin {
	100% {
		transform: rotate(360deg)
	}
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0
	}
}

@keyframes scale {

	0%,
	100% {
		transform: none
	}

	50% {
		transform: scale3d(1, 1, 1)
	}
}

@keyframes fill {
	100% {
		transform: scale(1)
	}
}

@keyframes fillfail {
	100% {
		box-shadow: inset 0 30px 0 0 #de1303
	}
}

@keyframes fillfail-offlabel {
	100% {
		box-shadow: inset 0 0 0 30px #232323
	}
}

@keyframes fillfail-offlabel-dark {
	100% {
		box-shadow: inset 0 0 0 30px #fff
	}
}

@keyframes scale-up-center {
	0% {
		transform: scale(.01)
	}

	100% {
		transform: scale(1)
	}
}

@keyframes fade-in {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

@keyframes fireworks {
	0% {
		transform: scale(0);
		opacity: 0
	}

	50% {
		transform: scale(1.5);
		opacity: 1
	}

	100% {
		transform: scale(2);
		opacity: 0
	}
}

@keyframes firework {
	0% {
		opacity: 0;
		stroke-dashoffset: 8;
	}

	30% {
		opacity: 1
	}

	100% {
		stroke-dashoffset: -8;
	}
}

@keyframes unspin {
	40% {
		stroke-width: 1px;
		stroke-linecap: square;
		stroke-dashoffset: 192
	}

	100% {
		stroke-width: 0
	}
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden
}

body,
.main-wrapper {
	margin: 0;
	background-color: #fff;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #232323;
	font-family: -apple-system, system-ui, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, "Helvetica Neue", arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-style: normal
}

h1 {
	margin: 16px 0;
	text-align: center;
	line-height: 1.25;
	color: #232323;
	font-size: 16px;
	font-weight: 700
}

p {
	margin: 8px 0;
	text-align: center;
	font-size: 20px;
	font-weight: 400
}

#content {
	box-sizing: border-box;
	display: flex;
	gap: 7px;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #e0e0e0;
	background-color: #fafafa;
	height: 65px;
	user-select: none
}

#branding {
	display: inline-flex;
	flex-direction: column;
	margin: 0 16px 0 0;
	text-align: right
}

#verifying-i,
#overrun-i {
	display: flex;
	width: 30px;
	height: 30px;
	animation: spin 5s linear infinite
}

#fail-i {
	width: 30px;
	height: 30px;
	display: flex;
	border-radius: 50%;
	box-shadow: inset 0 0 0 #de1303;
	stroke-width: 1px;
	fill: #f8f8f8;
	stroke: #f8f8f8;
	stroke-miterlimit: 10;
	animation: scale-up-center .6s cubic-bezier(.55, .085, .68, .53) both
}

#success-i {
	width: 30px;
	height: 30px;
	display: flex;
	border-radius: 50%;
	box-shadow: inset 0 0 0 #038127;
	stroke-width: 1px;
	fill: #f8f8f8;
	stroke: #f8f8f8;
	stroke-miterlimit: 10;
	animation: scale-up-center .3s cubic-bezier(.55, .085, .68, .53) both;
	stroke-width: 6px
}

#success-i .p1 {
	stroke-dasharray: 242;
	stroke-dashoffset: 242;
	box-shadow: inset 0 0 0 #038127;
	animation: stroke .4s cubic-bezier(.65, 0, .45, 1) forwards;
	animation-delay: .3s
}

#success-pre-i {
	width: 30px;
	height: 30px
}

#success-pre-i line {
	stroke: #038127;
	animation: firework .3s 1 ease-out;
	stroke-width: 1;
	stroke-dasharray: 32 32;
	stroke-dashoffset: -8;
}

#success-text {
	opacity: 0;
	animation: fade-in 1s forwards
}

.success-circle {
	stroke-dashoffset: 0;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #038127;
	fill: #038127
}

#overrun-text,
#timeout-text,
#expired-text {
	margin: 0;
	text-align: inherit;
	font-size: 14px;
	font-weight: 400
}

#error-overrun {
	margin-top: 2px
}

#timeout-refresh-link,
#expired-text,
#timeout-text,
#expired-refresh-link,
#error-overrun,
#fr-overrun {
	display: inline-block
}

#fr-helper,
#fr-overrun {
	margin-right: .25em;
	margin-left: 0
}

#fr-helper-link,
#fr-overrun-link {
	display: inline-block
}

.theme-dark #success-i {
	box-shadow: inset 0 0 0 #0aa937
}

.theme-dark #success-i .p1 {
	box-shadow: inset 0 0 0 #0aa937
}

.theme-dark .success-circle {
	stroke: #0aa937;
	fill: #0aa937
}

.theme-dark .expired-circle,
.theme-dark .timeout-circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #999;
	fill: #999
}

.theme-dark #expired-i,
.theme-dark #timeout-i {
	width: 30px;
	height: 30px;
	display: flex;
	border-radius: 50%;
	box-shadow: inset 0 0 0 #999;
	stroke-width: 1px;
	fill: #f8f8f8;
	stroke: #f8f8f8;
	stroke-miterlimit: 10
}

.theme-dark #challenge-overlay {
	background-color: #222
}

.theme-dark #challenge-overlay,
.theme-dark #challenge-error-text {
	color: #ffa299
}

.theme-dark #challenge-overlay a,
.theme-dark #challenge-error-text a {
	color: #bbb
}

.theme-dark #challenge-overlay a:visited,
.theme-dark #challenge-overlay a:link,
.theme-dark #challenge-error-text a:visited,
.theme-dark #challenge-error-text a:link {
	color: #bbb
}

.theme-dark #challenge-overlay a:hover,
.theme-dark #challenge-overlay a:active,
.theme-dark #challenge-overlay a:focus,
.theme-dark #challenge-error-text a:hover,
.theme-dark #challenge-error-text a:active,
.theme-dark #challenge-error-text a:focus {
	color: #949494
}

.theme-dark .cb-lb .cb-i {
	border: 2px solid #dadada;
	background-color: #222
}

.theme-dark .cb-lb input:focus~.cb-i,
.theme-dark .cb-lb input:active~.cb-i {
	border: 2px solid #fbad41
}

.theme-dark .cb-lb input:checked~.cb-i {
	background-color: #6d6d6d
}

.theme-dark .cb-lb input:checked~.cb-i::after {
	border-color: #fbad41
}

.theme-dark h1 {
	color: #fff
}

.theme-dark #challenge-error-title {
	color: #ffa299
}

.theme-dark #challenge-error-title a {
	color: #bbb
}

.theme-dark #challenge-error-title a:visited,
.theme-dark #challenge-error-title a:link {
	color: #bbb
}

.theme-dark #challenge-error-title a:hover,
.theme-dark #challenge-error-title a:active,
.theme-dark #challenge-error-title a:focus {
	color: #949494
}

.theme-dark #terms {
	color: #bbb
}

.theme-dark #terms a {
	white-space: nowrap;
	color: #bbb
}

.theme-dark #terms a:visited,
.theme-dark #terms a:link {
	color: #bbb
}

.theme-dark #terms a:hover,
.theme-dark #terms a:active,
.theme-dark #terms a:focus {
	color: #949494
}

.theme-dark #content {
	border-color: #797979;
	background-color: #232323
}

.theme-dark #qr {
	fill: #f38020
}

.theme-dark .logo-text {
	fill: #fff
}

.theme-dark #fr-helper-loop>a {
	color: #bbb
}

.theme-dark #fr-helper-loop>a:visited,
.theme-dark #fr-helper-loop>a:link {
	color: #bbb
}

.theme-dark #fr-helper-loop>a:active,
.theme-dark #fr-helper-loop>a:hover,
.theme-dark #fr-helper-loop>a:focus {
	color: #949494
}

.theme-dark #timeout-refresh-link,
.theme-dark #expired-refresh-link {
	color: #bbb
}

.theme-dark #timeout-refresh-link:visited,
.theme-dark #timeout-refresh-link:link,
.theme-dark #expired-refresh-link:visited,
.theme-dark #expired-refresh-link:link {
	color: #bbb
}

.theme-dark #timeout-refresh-link:active,
.theme-dark #timeout-refresh-link:hover,
.theme-dark #timeout-refresh-link:focus,
.theme-dark #expired-refresh-link:active,
.theme-dark #expired-refresh-link:hover,
.theme-dark #expired-refresh-link:focus {
	color: #949494
}

.theme-dark .overlay {
	border-color: #ffa299;
	color: #ffa299
}

.theme-dark .error-message {
	color: #ffa299
}

.theme-dark .error-message a {
	color: #ffa299
}

.theme-dark .error-message a:link,
.theme-dark .error-message a:visited {
	color: #ffa299
}

#challenge-overlay {
	position: absolute;
	top: 0;
	z-index: 9999;
	background-color: #fafafa;
	line-height: 10px;
	color: #de1303;
	font-size: 9px
}

#challenge-overlay a {
	color: #232323
}

#challenge-overlay a:visited,
#challenge-overlay a:link {
	color: #232323
}

#challenge-overlay a:active,
#challenge-overlay a:hover,
#challenge-overlay a:focus {
	color: #166379
}

#logo {
	margin-bottom: 1px;
	height: 25px
}

.failure-circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #de1303;
	fill: #de1303;
	animation: stroke .6s cubic-bezier(.65, 0, .45, 1) forwards
}

.failure-cross {
	fill: #fff;
	transform-origin: bottom center
}

@keyframes fade-in-animation {
	0% {
		fill: #de1303;
		stroke: #de1303
	}

	100% {
		fill: #fff;
		stroke: #fff
	}
}

.failure-cross {
	animation: fade-in-animation .1s .4s cubic-bezier(1, 1, 0, 1) backwards
}

.cb-c {
	display: flex;
	align-items: center;
	margin-left: 16px;
	cursor: pointer;
	text-align: left
}

.cb-lb {
	display: grid;
	place-items: center
}

.cb-lb input {
	grid-area: 1/1;
	opacity: 0;
	z-index: 9999;
	margin: 0;
	cursor: pointer;
	width: 24px;
	height: 24px
}

.cb-lb input:focus~.cb-i,
.cb-lb input:active~.cb-i {
	border: 2px solid #c44d0e
}

.cb-lb input:checked~.cb-i {
	transform: rotate(0deg) scale(1);
	opacity: 1;
	border-radius: 5px;
	background-color: #fff
}

.cb-lb input:checked~.cb-i::after {
	top: 0;
	left: 5px;
	transform: rotate(45deg) scale(1);
	border: solid #c44d0e;
	border-width: 0 4px 4px 0;
	border-radius: 0;
	width: 6px;
	height: 12px
}

.cb-lb .cb-i {
	box-sizing: border-box;
	grid-area: 1/1;
	transition: all .1s ease-in;
	z-index: 9998;
	border: 2px solid #6d6d6d;
	border-radius: 3px;
	background: #fff;
	width: 24px;
	height: 24px;
	animation: scale-up-center .4s cubic-bezier(.55, .085, .68, .53) both
}

.cb-lb .cb-i::after {
	position: absolute;
	border-radius: 5px;
	content: ""
}

.cb-lb .cb-lb-t {
	grid-column: 2;
	margin-left: 8px
}

.size-compact {
	font-size: 14px
}

.size-compact #content {
	display: flex;
	flex-flow: column nowrap;
	gap: 0;
	place-content: space-between;
	align-items: flex-start;
	padding: 12px 0;
	height: 140px
}

.size-compact .link-spacer {
	margin-right: 3px;
	margin-left: 3px
}

.size-compact .cb-c {
	margin: 0 12px;
	text-align: left
}

.size-compact .cb-container {
	margin: 0 12px
}

.size-compact #logo {
	margin-bottom: 0;
	height: 25px
}

.size-compact #branding {
	flex-flow: row-reverse wrap;
	place-content: center flex-start;
	align-self: flex-end;
	margin: 0 12px;
	padding-right: 0;
	text-align: right
}

.size-compact #terms {
	text-align: right
}

.size-compact #qr {
	text-align: center
}

.size-compact #challenge-error-title {
	margin-top: 3px;
	width: auto
}

.size-compact #fail {
	display: flex;
	flex-flow: row nowrap;
	place-content: center space-evenly;
	align-items: center;
	visibility: visible;
	line-height: 13px
}

.size-compact #expired-text,
.size-compact #overrun-text,
.size-compact #timeout-text {
	display: block
}

.size-compact #expired-refresh-link,
.size-compact #timeout-refresh-link {
	margin: 0
}

.size-compact .error-message a {
	margin: 0
}

.size-compact .error-message span {
	display: block
}

.size-compact .error-message.ltr {
	text-align: end
}

.size-compact .error-message.ltr #fr-overrun {
	margin-right: 0;
	margin-left: 0
}

.cb-lb-t {
	display: flex;
	flex-flow: row-reverse nowrap;
	place-content: center flex-end;
	align-items: center
}

.rtl {
	direction: rtl
}

.rtl .cb-lb-t {
	margin-right: 8px;
	margin-left: 0;
	padding: 0
}

.rtl #success-i,
.rtl #verifying-i,
.rtl #fail-i,
.rtl #overrun-i,
.rtl #timeout-i,
.rtl #expired-i {
	left: 255px
}

.rtl #fr-helper,
.rtl #fr-overrun {
	margin-right: 0;
	margin-left: .25em
}

.rtl #branding {
	margin: 0 0 0 16px;
	padding-right: 0;
	padding-left: 0;
	width: 90px;
	text-align: left
}

.rtl.size-compact #branding {
	align-self: flex-start;
	justify-content: flex-end;
	margin: 0 12px 0 0;
	padding-right: 0;
	padding-left: 0;
	text-align: left
}

.rtl.size-compact #terms {
	text-align: right
}

.rtl.size-compact #cf-stage {
	padding-right: 48px
}

.rtl.size-compact .cb-container,
.rtl.size-compact .cb-c {
	margin: 0 12px
}

.rtl .cb-lb {
	text-align: right
}

.rtl .cb-lb input {
	right: 18px
}

.rtl .cb-lb input:checked~.cb-i::after {
	right: 6px
}

.rtl .cb-lb .cb-i {
	right: 18px
}

.rtl .cb-c {
	margin-right: 15px;
	margin-left: 0;
	text-align: right
}

.rtl .cb-container {
	margin-right: 16px;
	margin-left: 0
}

#terms {
	display: inline-flex;
	justify-content: flex-end;
	line-height: 10px;
	color: #232323;
	font-size: 8px;
	font-style: normal
}

#terms .link-spacer {
	margin: 0 .2rem
}

#terms a {
	display: inline-block;
	text-decoration: underline;
	line-height: 10px;
	color: #232323;
	font-size: 8px;
	font-weight: 400;
	font-style: normal
}

#terms a:link,
#terms a:visited {
	text-decoration: underline;
	line-height: 10px;
	color: #232323;
	font-size: 8px;
	font-weight: 400;
	font-style: normal
}

#terms a:hover,
#terms a:focus,
#terms a:active {
	text-decoration: underline;
	color: #166379
}

#challenge-error-title {
	position: absolute;
	top: 0;
	margin: 5px 0;
	width: 200px;
	height: 55px;
	color: #de1303;
	font-size: 11px
}

#challenge-error-title a {
	color: #232323
}

#challenge-error-title a:hover,
#challenge-error-title a:focus,
#challenge-error-title a:active {
	text-decoration: underline;
	color: #166379
}

#challenge-error-title a:link,
#challenge-error-title a:visited {
	color: #232323
}

#challenge-error-title .i-wrapper {
	display: none
}

.unspun .circle {
	animation: unspin .7s cubic-bezier(.65, 0, .45, 1) forwards
}

.circle {
	stroke-width: 3px;
	stroke-linecap: round;
	stroke: #038127;
	stroke-dasharray: 0, 100, 0;
	stroke-dashoffset: 200;
	stroke-miterlimit: 1;
	stroke-linejoin: round
}

.main-wrapper {
	border-spacing: 0
}

.p1 {
	fill: none;
	stroke: #fff
}

.offlabel.size-compact #content {
	place-content: center center
}

.offlabel.size-compact .cb-lb .cb-i,
.offlabel.size-compact .cb-lb input {
	top: 58px
}

.expired-circle,
.timeout-circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #797979;
	fill: #797979
}

#expired-i,
#timeout-i {
	width: 30px;
	height: 30px;
	display: flex;
	border-radius: 50%;
	box-shadow: inset 0 0 0 #797979;
	stroke-width: 1px;
	fill: #f8f8f8;
	stroke: #f8f8f8;
	stroke-miterlimit: 10;
	animation: scale .3s ease-in-out .9s both
}

.cb-container {
	display: grid;
	grid-template-columns: 30px auto;
	gap: 12px;
	align-items: center;
	margin-left: 16px
}

.logo-text {
	fill: #000
}

#qr {
	fill: #232323
}

#qr svg {
	width: 40px;
	height: 40px
}

body.theme-dark,
.main-wrapper.theme-dark {
	background-color: #232323;
	color: #fff
}

#fr-helper-loop>a {
	display: block;
	color: #232323
}

#fr-helper-loop>a:link,
#fr-helper-loop>a:visited {
	display: block;
	color: #232323
}

#fr-helper-loop>a:active,
#fr-helper-loop>a:hover,
#fr-helper-loop>a:focus {
	color: #166379
}

.error-message {
	color: #de1303;
	font-size: 9px;
	font-weight: 500
}

.error-message a:link,
.error-message a:visited {
	color: #de1303
}

.error-message a:active,
.error-message a:hover,
.error-message a:focus {
	color: #166379
}

.error-message.ltr {
	direction: ltr
}

.error-message.ltr #fr-overrun {
	margin-right: .25em;
	margin-left: 0
}

#expired-refresh-link,
#timeout-refresh-link {
	color: #232323
}

#expired-refresh-link:link,
#expired-refresh-link:visited,
#timeout-refresh-link:link,
#timeout-refresh-link:visited {
	color: #232323
}

#expired-refresh-link:active,
#expired-refresh-link:hover,
#expired-refresh-link:focus,
#timeout-refresh-link:active,
#timeout-refresh-link:hover,
#timeout-refresh-link:focus {
	color: #166379
}

html.rtl {
	direction: rtl
}

.lang-de-de.size-compact #branding,
.lang-vi-vn.size-compact #branding,
.lang-bg-bg.size-compact #branding,
.lang-el-gr.size-compact #branding,
.lang-hi-in.size-compact #branding,
.lang-ko-kr.size-compact #branding,
.lang-zh.size-compact #branding,
.lang-zh-cn.size-compact #branding,
.lang-zh-tw.size-compact #branding,
.lang-sv-se.size-compact #branding {
	flex-direction: column
}

@media (max-width: 350px) {

	.lang-ja-jp #terms,
	.lang-lt-lt #terms,
	.lang-pl-pl #terms,
	.lang-ro-ro #terms,
	.lang-ru-ru #terms,
	.lang-sk-sk #terms,
	.lang-tl-ph #terms,
	.lang-uk-ua #terms,
	.lang-vi-vn #terms {
		display: flex;
		flex-direction: column
	}

	.lang-ja-jp #terms .link-spacer,
	.lang-lt-lt #terms .link-spacer,
	.lang-pl-pl #terms .link-spacer,
	.lang-ro-ro #terms .link-spacer,
	.lang-ru-ru #terms .link-spacer,
	.lang-sk-sk #terms .link-spacer,
	.lang-tl-ph #terms .link-spacer,
	.lang-uk-ua #terms .link-spacer,
	.lang-vi-vn #terms .link-spacer {
		display: none
	}
}

.lang-ja-jp.size-compact #terms,
.lang-tl-ph.size-compact #terms,
.lang-pl-pl.size-compact #terms,
.lang-uk-ua.size-compact #terms,
.lang-vi-vn.size-compact #terms {
	display: inline-flex;
	flex-direction: row
}

.lang-ja-jp.size-compact #terms .link-spacer,
.lang-tl-ph.size-compact #terms .link-spacer,
.lang-pl-pl.size-compact #terms .link-spacer,
.lang-uk-ua.size-compact #terms .link-spacer,
.lang-vi-vn.size-compact #terms .link-spacer {
	display: block
}

.lang-bg-bg.size-compact #verifying-text,
.lang-el-gr.size-compact #verifying-text {
	font-size: 12px
}

.lang-bg-bg.size-compact #challenge-overlay,
.lang-bg-bg.size-compact #challenge-error-text,
.lang-el-gr.size-compact #challenge-overlay,
.lang-el-gr.size-compact #challenge-error-text {
	line-height: 10px;
	font-size: 9px
}

.lang-bg-bg.size-compact #challenge-error,
.lang-el-gr.size-compact #challenge-error {
	margin: 0 10px
}

.lang-bg-bg.size-compact #branding,
.lang-el-gr.size-compact #branding {
	margin: 0 10px 0 0
}

.lang-vi-vn.size-compact #challenge-overlay,
.lang-vi-vn.size-compact #challenge-error-text,
.lang-de-de.size-compact #challenge-overlay,
.lang-de-de.size-compact #challenge-error-text {
	line-height: 10px;
	font-size: 9px
}

.lang-vi-vn.size-compact #challenge-error,
.lang-de-de.size-compact #challenge-error {
	margin: 0 10px
}

.lang-vi-vn.size-compact #branding,
.lang-de-de.size-compact #branding {
	margin: 0 10px 0 0
}

.lang-de-de #expiry-msg #expired-refresh-link,
.lang-de-de #expiry-msg #timeout-refresh-link,
.lang-de-de #timeout-msg #expired-refresh-link,
.lang-de-de #timeout-msg #timeout-refresh-link,
.lang-hu-hu #expiry-msg #expired-refresh-link,
.lang-hu-hu #expiry-msg #timeout-refresh-link,
.lang-hu-hu #timeout-msg #expired-refresh-link,
.lang-hu-hu #timeout-msg #timeout-refresh-link,
.lang-fi-fi #expiry-msg #expired-refresh-link,
.lang-fi-fi #expiry-msg #timeout-refresh-link,
.lang-fi-fi #timeout-msg #expired-refresh-link,
.lang-fi-fi #timeout-msg #timeout-refresh-link,
.lang-ms-my #expiry-msg #expired-refresh-link,
.lang-ms-my #expiry-msg #timeout-refresh-link,
.lang-ms-my #timeout-msg #expired-refresh-link,
.lang-ms-my #timeout-msg #timeout-refresh-link,
.lang-lt-lt #expiry-msg #expired-refresh-link,
.lang-lt-lt #expiry-msg #timeout-refresh-link,
.lang-lt-lt #timeout-msg #expired-refresh-link,
.lang-lt-lt #timeout-msg #timeout-refresh-link,
.lang-ro-ro #expiry-msg #expired-refresh-link,
.lang-ro-ro #expiry-msg #timeout-refresh-link,
.lang-ro-ro #timeout-msg #expired-refresh-link,
.lang-ro-ro #timeout-msg #timeout-refresh-link,
.lang-uk-ua #expiry-msg #expired-refresh-link,
.lang-uk-ua #expiry-msg #timeout-refresh-link,
.lang-uk-ua #timeout-msg #expired-refresh-link,
.lang-uk-ua #timeout-msg #timeout-refresh-link,
.lang-fr-fr #expiry-msg #expired-refresh-link,
.lang-fr-fr #expiry-msg #timeout-refresh-link,
.lang-fr-fr #timeout-msg #expired-refresh-link,
.lang-fr-fr #timeout-msg #timeout-refresh-link {
	margin-left: 0
}

.lang-hr-hr.size-compact #verifying-text,
.lang-pl-pl.size-compact #verifying-text,
.lang-ms-my.size-compact #verifying-text {
	font-size: 12px
}

@media (max-width: 350px) {
	.lang-es-es #success-text {
		font-size: 12px
	}
}

.lang-pl-pl.size-compact #fail {
	gap: 6px
}

.lang-pl-pl.size-compact #fail-text,
.lang-pl-pl.size-compact #timeout-text,
.lang-pl-pl.size-compact #timeout-refresh-link {
	font-size: 12px
}

.lang-pl-pl.size-compact #terms {
	display: inline-flex
}

.lang-pl-pl.size-compact #terms .link-spacer {
	display: block
}

.lang-tl-ph #timeout-text,
.lang-tl-ph #expired-text,
.lang-tr-tr #timeout-text,
.lang-tr-tr #expired-text,
.lang-ro-ro #timeout-text,
.lang-ro-ro #expired-text,
.lang-pl-pl #timeout-text,
.lang-pl-pl #expired-text,
.lang-uk-ua #timeout-text,
.lang-uk-ua #expired-text,
.lang-ja-jp #timeout-text,
.lang-ja-jp #expired-text {
	display: block
}

.lang-fi-fi.size-compact #timeout,
.lang-fi-fi.size-compact #expired {
	gap: 6px
}

@media (max-width: 350px) {
	.lang-de-de #terms {
		display: flex;
		flex-direction: column
	}

	.lang-de-de #terms .link-spacer {
		display: none
	}
}

@media (max-width: 350px) {

	.lang-de-de #timeout-msg,
	.lang-de-de #timeout-text,
	.lang-de-de #expiry-msg,
	.lang-de-de #expired-text {
		font-size: 12px
	}
}

.lang-de-de.size-compact #timeout {
	gap: 6px;
	margin-left: 4px
}

.lang-de-de.size-compact #timeout-text,
.lang-de-de.size-compact #timeout-refresh-link {
	font-size: 11px
}

.lang-de-de.size-compact .cb-lb-t {
	font-size: 12px
}

.lang-ja-jp #branding {
	display: flex;
	flex-direction: column;
	margin: 0 16px 0 0;
	padding-top: 5px;
	text-align: right
}

.lang-ja-jp .cb-lb-t {
	font-size: 11px
}

.lang-ja-jp.size-compact #challenge-overlay,
.lang-ja-jp.size-compact #challenge-error-text {
	line-height: 10px
}

@media (max-width: 350px) {
	.lang-ru-ru #terms {
		display: flex;
		flex-direction: column
	}

	.lang-ru-ru #terms .link-spacer {
		display: none
	}
}

.lang-ru-ru.size-compact #verifying-text {
	font-size: 10px
}

.lang-ru-ru.size-compact .cb-lb .cb-i {
	left: 11px
}

.lang-ru-ru.size-compact .cb-lb input {
	left: 11px
}

.lang-ru-ru.size-compact #challenge-overlay,
.lang-ru-ru.size-compact #challenge-error-text {
	line-height: 10px;
	font-size: 8px
}

.lang-ru-ru #challenge-error {
	margin: 8px 4px
}

.lang-bg-bg.size-compact #verifying-text {
	font-size: 12px
}

.overlay {
	position: absolute;
	top: 5px;
	left: 5px;
	opacity: .9;
	z-index: 2147483647;
	border: 1px solid #de1303;
	background-color: #fff;
	padding: 2px;
	height: auto;
	line-height: 8px;
	color: #de1303;
	font-family: consolas, "Liberation Mono", courier, monospace;
	font-size: 8px
}

.lang-it-it.size-compact #challenge-overlay,
.lang-it-it.size-compact #challenge-error-text {
	line-height: 10px;
	font-size: 9px
}

.lang-id-id.size-compact #challenge-overlay,
.lang-id-id.size-compact #challenge-error-text {
	line-height: 10px
}

@media (prefers-color-scheme: dark) {

	body.theme-auto,
	.main-wrapper.theme-auto {
		background-color: #232323;
		color: #fff
	}

	.theme-auto #success-i {
		box-shadow: inset 0 0 0 #0aa937
	}

	.theme-auto #success-i .p1 {
		box-shadow: inset 0 0 0 #0aa937
	}

	.theme-auto .success-circle {
		stroke: #0aa937;
		fill: #0aa937
	}

	.theme-auto .expired-circle,
	.theme-auto .timeout-circle {
		stroke-dasharray: 166;
		stroke-dashoffset: 166;
		stroke-width: 2;
		stroke-miterlimit: 10;
		stroke: #999;
		fill: #999
	}

	.theme-auto #expired-i,
	.theme-auto #timeout-i {
		width: 30px;
		height: 30px;
		display: flex;
		border-radius: 50%;
		box-shadow: inset 0 0 0 #999;
		stroke-width: 1px;
		fill: #f8f8f8;
		stroke: #f8f8f8;
		stroke-miterlimit: 10
	}

	.theme-auto #challenge-overlay {
		background-color: #222
	}

	.theme-auto #challenge-overlay,
	.theme-auto #challenge-error-text {
		color: #ffa299
	}

	.theme-auto #challenge-overlay a,
	.theme-auto #challenge-error-text a {
		color: #bbb
	}

	.theme-auto #challenge-overlay a:visited,
	.theme-auto #challenge-overlay a:link,
	.theme-auto #challenge-error-text a:visited,
	.theme-auto #challenge-error-text a:link {
		color: #bbb
	}

	.theme-auto #challenge-overlay a:hover,
	.theme-auto #challenge-overlay a:active,
	.theme-auto #challenge-overlay a:focus,
	.theme-auto #challenge-error-text a:hover,
	.theme-auto #challenge-error-text a:active,
	.theme-auto #challenge-error-text a:focus {
		color: #949494
	}

	.theme-auto .cb-lb .cb-i {
		border: 2px solid #dadada;
		background-color: #222
	}

	.theme-auto .cb-lb input:focus~.cb-i,
	.theme-auto .cb-lb input:active~.cb-i {
		border: 2px solid #fbad41
	}

	.theme-auto .cb-lb input:checked~.cb-i {
		background-color: #6d6d6d
	}

	.theme-auto .cb-lb input:checked~.cb-i::after {
		border-color: #fbad41
	}

	.theme-auto h1 {
		color: #fff
	}

	.theme-auto #challenge-error-title {
		color: #ffa299
	}

	.theme-auto #challenge-error-title a {
		color: #bbb
	}

	.theme-auto #challenge-error-title a:visited,
	.theme-auto #challenge-error-title a:link {
		color: #bbb
	}

	.theme-auto #challenge-error-title a:hover,
	.theme-auto #challenge-error-title a:active,
	.theme-auto #challenge-error-title a:focus {
		color: #949494
	}

	.theme-auto #terms {
		color: #bbb
	}

	.theme-auto #terms a {
		white-space: nowrap;
		color: #bbb
	}

	.theme-auto #terms a:visited,
	.theme-auto #terms a:link {
		color: #bbb
	}

	.theme-auto #terms a:hover,
	.theme-auto #terms a:active,
	.theme-auto #terms a:focus {
		color: #949494
	}

	.theme-auto #content {
		border-color: #797979;
		background-color: #232323
	}

	.theme-auto #qr {
		fill: #f38020
	}

	.theme-auto .logo-text {
		fill: #fff
	}

	.theme-auto #fr-helper-loop>a {
		color: #bbb
	}

	.theme-auto #fr-helper-loop>a:visited,
	.theme-auto #fr-helper-loop>a:link {
		color: #bbb
	}

	.theme-auto #fr-helper-loop>a:active,
	.theme-auto #fr-helper-loop>a:hover,
	.theme-auto #fr-helper-loop>a:focus {
		color: #949494
	}

	.theme-auto #timeout-refresh-link,
	.theme-auto #expired-refresh-link {
		color: #bbb
	}

	.theme-auto #timeout-refresh-link:visited,
	.theme-auto #timeout-refresh-link:link,
	.theme-auto #expired-refresh-link:visited,
	.theme-auto #expired-refresh-link:link {
		color: #bbb
	}

	.theme-auto #timeout-refresh-link:active,
	.theme-auto #timeout-refresh-link:hover,
	.theme-auto #timeout-refresh-link:focus,
	.theme-auto #expired-refresh-link:active,
	.theme-auto #expired-refresh-link:hover,
	.theme-auto #expired-refresh-link:focus {
		color: #949494
	}

	.theme-auto .overlay {
		border-color: #ffa299;
		color: #ffa299
	}

	.theme-auto .error-message {
		color: #ffa299
	}

	.theme-auto .error-message a {
		color: #ffa299
	}

	.theme-auto .error-message a:link,
	.theme-auto .error-message a:visited {
		color: #ffa299
	}
}

.CcXXD5 {
	display: grid !important
}