* {
	box-sizing: border-box;
	padding: 0;
	margin: 0
}

button,
html {
	line-height: 1.15
}

html {
	-webkit-text-size-adjust: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	color: #313131
}

.main-wrapper,
body {
	display: flex;
	flex-direction: column
}

body {
	min-height: 100vh
}

.main-wrapper {
	flex: 1;
	justify-content: center;
	align-items: center
}

a {
	background-color: transparent;
	color: #0051c3;
	text-decoration: none;
	transition: color 150ms ease
}

a:hover {
	text-decoration: underline;
	color: #ee730a
}

h1,
h2 {
	font-weight: 500
}

.clearfix:after {
	content: "";
	display: table;
	clear: both
}

.clearfix .column {
	float: left;
	width: 50%;
	padding-right: 1.5rem
}

.section {
	max-width: 60rem;
	margin: 0 auto 1.5rem;
	padding: 1.5rem 2rem 0
}

.section h2 {
	margin-bottom: 1rem
}

.code-label,
.header h1 {
	line-height: 4.5rem;
	font-size: 2.5rem
}

.code-label {
	background-color: #d9d9d9;
	color: #313131;
	border-radius: 1.25rem;
	font-size: .75rem;
	padding: .25rem .5rem;
	height: 4.5rem;
	white-space: nowrap;
	vertical-align: middle
}

.error-description {
	margin-right: 1rem;
	vertical-align: middle
}

.large-font {
	line-height: 2.25rem;
	font-size: 1.5rem
}

.know-more {
	line-height: 1.5rem;
	font-size: 1rem;
	padding-bottom: 1.5rem
}

button {
	text-transform: none;
	overflow: visible;
	font-family: inherit;
	font-size: 100%;
	margin: 0
}

ol {
	list-style-position: inside
}

.footer {
	border-top: 1px solid #d9d9d9;
	width: 100%
}

.feedback-hidden,
.hidden {
	display: none
}

.text-center {
	text-align: center
}

.external-link {
	height: .8rem;
	width: .8rem;
	margin-left: .2rem;
	margin-right: .2rem
}

.ray-id-wrapper {
	padding-top: .5rem;
	padding-bottom: 1.5rem
}

.plain-ray-id {
	font-family: monospace
}

.click-to-copy-btn {
	background: 0 0;
	color: inherit;
	border: 0;
	padding: 0;
	margin: 0 0 0 .5rem;
	font: inherit;
	cursor: pointer;
	outline: inherit
}

.click-to-copy-btn:focus,
.click-to-copy-btn:hover {
	box-shadow: #313131 0 0 1px 1px
}

.click-to-copy-btn span {
	display: inline-block
}

.click-to-copy-btn .ray-id {
	border: 1px dashed #595959;
	padding: .5rem
}

.click-to-copy-btn .ray-id:hover {
	border: 1px solid #595959
}

.click-to-copy-btn .copy-label {
	background-color: #595959;
	border: 1px solid #595959;
	color: #f2f2f2;
	padding: .5rem
}

.cf-button {
	color: #0051c3;
	font-size: .813rem;
	border-color: #0045a6;
	transition-timing-function: ease;
	transition-duration: 200ms;
	transition-property: background-color, border-color, color;
	border-width: 1px
}

.cf-button:hover {
	color: #fff;
	background-color: #003681;
	cursor: pointer
}

.feedback-success {
	min-height: 33px;
	line-height: 33px
}

.footer-line-wrapper {
	line-height: 2rem
}

.py-2 {
	padding-top: .5rem;
	padding-bottom: .5rem
}

.px-4 {
	padding-left: 1rem;
	padding-right: 1rem
}

.rounded {
	border-radius: .25rem
}

.border-solid {
	border-style: solid
}

.ml-4 {
	margin-left: 1rem
}

.bg-white {
	--bg-opacity: 1;
	background-color: #fff;
	background-color: rgba(255, 255, 255, var(--bg-opacity))
}

@media (max-width:720px) {
	.clearfix:after {
		content: none;
		display: initial;
		clear: none
	}

	.clearfix .column {
		float: none;
		width: 100%;
		padding-right: 0
	}

	.column {
		padding-bottom: 2rem
	}

	.main-wrapper {
		margin-top: 10vh;
		margin-bottom: 5vh
	}
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {

	.main-wrapper,
	body {
		display: block
	}
}

.cf-details-wrapper,
.cf-main-wrapper {
	display: flex;
	height: 50vh;
	flex-direction: column
}

.cf-main-wrapper {
	justify-content: center;
	align-items: center
}

.cf-details-wrapper {
	justify-content: space-between
}

.cf-details-wrapper p {
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: left
}

.cf-column {
	margin-inline: 2rem
}

.clearfix .cf-column {
	float: left;
	padding-right: 1.5rem
}

.cf-section {
	width: 64rem;
	margin: 0 auto 1.5rem;
	padding: 1.5rem 0 0
}

.cf-header h1 {
	line-height: 3.75rem;
	font-size: 3rem;
	font-weight: 600
}

.cf-header p {
	line-height: 2.5rem
}

.cf-error-title {
	display: flex;
	flex-direction: row;
	align-items: center
}

.cf-code-label {
	font-weight: 400;
	font-size: .75rem;
	background-color: #d9d9d9;
	color: #313131;
	border-radius: 1.25rem;
	padding: .25rem .5rem;
	height: 1.5rem;
	margin-left: 1rem;
	align-items: center
}

.cf-error-description {
	font-size: 1.5rem
}

.cf-dropdown-title {
	font-weight: 500;
	font-size: 1rem;
	align-items: center
}

.cf-footer,
.cf-footer-line-wrapper {
	justify-content: center;
	align-items: center
}

.cf-footer {
	border-top: 1px solid #d9d9d9;
	display: flex
}

.cf-footer-line-wrapper {
	line-height: 2rem;
	flex-direction: row
}

#error-details-checkbox:checked+.cf-expandable-error-info {
	display: block
}

.cf-expandable {
	border-left: .125rem solid #e5e5e5;
	padding-left: .5rem;
	transition: height, border-left .2s
}

.cf-expandable.expanded {
	border-left-color: #0051c3
}

.cf-expandable.expanded .cf-caret-icon {
	transform: rotate(0deg)
}

.cf-expandable-btn {
	all: unset;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center
}

.cf-caret-icon {
	transform: rotate(180deg);
	margin-left: .5rem;
	width: 1rem;
	height: 1rem;
	transition: transform .2s
}

.cf-error-copy-description {
	margin-block: .5rem;
	color: #313131
}

.cf-error-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: .5rem 1rem;
	border: 1px solid #797979;
	border-radius: .25rem
}

.cf-error-wrapper p {
	font-family: monospace;
	font-weight: 400;
	font-size: .9rem;
	line-height: 1.2rem;
	text-align: left
}

.cf-error-wrapper .cf-error-details-endpoint {
	margin-bottom: 1.2rem
}

.cf-click-to-copy-btn {
	background: 0 0;
	border: 0;
	display: flex;
	flex-direction: column;
	cursor: text;
	color: #313131;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

.cf-click-to-copy-btn .cf-copy-label {
	color: #595959;
	margin-top: .5rem;
	cursor: pointer;
	font-family: system-ui
}

@media (max-width:720px) {
	.cf-main-wrapper {
		height: auto;
		margin-top: 10vh;
		margin-bottom: 5vh
	}

	.cf-details-wrapper {
		flex: 1
	}

	.cf-header h1 {
		font-size: 1.5rem;
		line-height: 1.75rem;
		font-weight: 600
	}

	.cf-header p {
		line-height: 1.5rem
	}

	.cf-error-title {
		display: flex;
		flex-direction: column;
		align-items: flex-start
	}

	.cf-code-label {
		margin-left: 0;
		margin-bottom: .5rem;
		margin-top: .1rem
	}

	.cf-error-description {
		font-size: 1rem;
		line-height: 1.5rem
	}

	.cf-section {
		width: 100%;
		padding: 1.5rem
	}

	.clearfix .cf-column {
		float: none;
		width: 100%;
		padding-right: 0
	}

	.cf-column {
		padding-bottom: 2rem
	}

	.cf-footer {
		flex-direction: column;
		bottom: 0
	}
}

@media screen and (max-width:1200px) and (min-width:721px) {
	.cf-section {
		width: 70%
	}

	.cf-main-wrapper {
		height: 42vh
	}

	.cf-details-wrapper {
		height: 58vh
	}

	.cf-column {
		display: flex;
		justify-content: center;
		align-items: center
	}

	.cf-footer {
		justify-content: space-between
	}
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
	.cf-main-wrapper {
		display: block
	}
}