---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Cloudflare Datamining">
	<div class="prose dark:prose-invert mx-auto">
		<h1>Cloudflare Datamining</h1>
		<p>
			For more information, check out the <a href="https://github.com/Cloudflare-Mining/Cloudflare-Datamining" target="_blank">GitHub Repository</a>. Not all information is available on this site yet.
		</p>
		<p>404. Page not found.</p>
	</div>
</Layout>