---

import { airports } from '../airportsWithLocations.js';
import Description from '../components/Description.astro';
import MainHeading from '../components/MainHeading.astro';
import Table from '../components/Table.astro';
import Layout from '../layouts/Layout.astro';
export const prerender = true;

const importFiles = await Astro.glob('../../../data/other/colos-id-map.json');
const colos = importFiles[0].default;
const types: Record<string, string> = {};

for (const coloId in colos) {
	const colo = colos[coloId];
	const airport = airports.find(air => colo.toUpperCase().startsWith(air.code));
	if (!airport) {
		continue;
	}
	if (airport?.name.includes('China')) {
		types[colo] = 'JDC';
	}
}

const additionalTags: {
	[key: string]: string[];
} = {};

const DOColosRes = await fetch('https://colo-route.jross.dev/colo-route/colos');
const DOColos = await DOColosRes.json();
for (const colo of DOColos) {
	if (!additionalTags[colo]) {
		additionalTags[colo] = [];
	}
	additionalTags[colo].push('DOs');
}

---
<Layout title="Colos - Cloudflare Datamining" description="A lot of Cloudflare locations and types with their current status.">
	<MainHeading title="Colos" />
	<Description>
		<p>Listed below are all known Cloudflare datacenters, both past and present. At any given time, traffic could be re-routed so they'll appear offline, or they could simply not be a datacenter that serves public traffic, or one that is discontinued. All of the types listed below are estimated, and not sourced from any official information.</p>
		<p>Colos tagged with <code>DOs</code> support <a href="https://developers.cloudflare.com/workers/learning/using-durable-objects/" rel="noopener" target="_blank">Durable Objects</a></p>
	</Description>
	<Table
		headers = {['ID', 'Colo', 'Tags']}
		widths={['w-[30%]', 'w-[30%]', 'w-[30%]', 'w-[10%]']}
		id="colos"
		data = {Object.keys(colos).map((id: string) => [
			id,
			colos[id],
			[
				types[colos[id]],
				...additionalTags[colos[id]] || [],
			].filter(Boolean),
		])}
	></Table>
</Layout>
