---
import Layout from '../layouts/Layout.astro';
import Table from '../components/Table.astro';

import {airports} from '../airportsWithLocations.js';
import {types} from '../coloTypes';
import MainHeading from '../components/MainHeading.astro';

const importFiles = await Astro.glob('../../../data/other/colos-id-map.json');
const colos = importFiles[0].default;



for(const coloId in colos){
	const colo = colos[coloId];
	const airport = airports.find(air => colo.toUpperCase().startsWith(air.code));
	if(!airport){
		continue;
	}
	if(airport?.name.includes('China')){
		types[colo] = 'JDC';
	}
}


---
<Layout title="Colos - Cloudflare Datamining" description="A lot of Cloudflare locations and types with their current status.">
	<MainHeading title="Colos" />
	<Table
		headers = {["ID", "Colo", "Type", "Status"]}
		widths={["w-[30%]", "w-[30%]", "w-[30%]", "w-[10%]"]}
		data = {Object.keys(colos).map((id:string) => [
			id,
			colos[id],
			types[colos[id]],
			'loading...',
		])}
	></Table>
</Layout>

<script>

async function getColosStatus(){
	const table = document.querySelector('table');
	if(!table){
		return;
	}
	const headers = table.querySelectorAll('thead tr th');
	if(!headers){
		return;
	}
	let statusIndex = null;
	for(const [index, header] of headers.entries()){
		if(header.textContent === 'Status'){
			statusIndex = index + 1;
			break;
		}
	}
	const tableRows = table.querySelectorAll('tbody tr');
	if(!tableRows){
		return;
	}

	const coloStatusRes = await fetch('https://colos-status.jross.workers.dev/');
	const coloStatus = await coloStatusRes.json();

	for(const row of tableRows){
		const coloName = row.querySelector('td:nth-child(2)')?.textContent;
		const status = row.querySelector(`td:nth-child(${statusIndex})`);
		const type = row.querySelector('td:nth-child(3)')?.textContent;
		if(!coloName || !status){
			continue;
		}
		status.textContent = '';
		let spanElement = status.querySelector('span');
		if(!spanElement){
			spanElement = document.createElement('span');
			status.append(spanElement);
		}
		spanElement.classList.add('font-sans', 'inline-flex', 'items-center', 'rounded-full', 'px-2.5', 'py-0.5', 'text-xs', 'font-medium');
		const online = coloStatus[coloName] === true;
		if(online){
			spanElement.classList.add('bg-green-100', 'text-green-800');
			spanElement.innerText = 'Online';
		}else if(type === 'JDC'){
			spanElement.classList.add('bg-gray-100', 'text-green-800');
			spanElement.innerText = 'China';
		}else{
			spanElement.classList.add('bg-red-100', 'text-red-800');
			spanElement.innerText = 'Offline';
		}
	}
}

getColosStatus();

setInterval(() => {
	getColosStatus();
}, 60000);

</script>