---
import Layout from '../layouts/Layout.astro';
import Table from '../components/Table.astro';
import MainHeading from '../components/MainHeading.astro';
import SubHeading from '../components/SubHeading.astro';

import dashGatesImport from '../../../data/gates/dashboard.json';
import ztGatesImport from '../../../data/gates/zt-dashboard.json';

interface Gates {
	[key: string]: {
		enabled: boolean,
		branches?: string[],
	}
}
const dashGates = dashGatesImport as Gates;
const ztGates = ztGatesImport as Gates;

---
<Layout title="Gates - Cloudflare Datamining" description="List of Cloudflare Gates for feature rollouts, A/B testing, etc.">
	<MainHeading title="Gates" />
	<SubHeading category="Dashboard" />
	<Table
		headers = {["ID", "Enabled", "Branches"]}
		data = {Object.keys(dashGates).map((id:string) => [
			id,
			String(dashGates[id].enabled),
			JSON.stringify(dashGates[id].branches),
		])}
	></Table>

	<SubHeading category="ZT Dashboard" />
	<Table
		headers = {["ID", "Enabled", "Branches"]}
		data = {Object.keys(ztGates).map((id:string) => [
			id,
			String(ztGates[id].enabled),
			JSON.stringify(ztGates[id].branches),
		])}
	></Table>
</Layout>
