---
import Layout from '../layouts/Layout.astro';
import Table from '../components/Table.astro';
import MainHeading from '../components/MainHeading.astro';

import gates from '../../../data/gates/dashboard.json';

---
<Layout title="Gates - Cloudflare Datamining" description="List of Cloudflare Gates for feature rollouts, A/B testing, etc.">
	<MainHeading title="Gates" />
	<Table
		headers = {["ID", "Enabled", "Branches"]}
		data = {Object.keys(gates).map((id:string) => [
			id,
			String(gates[id].enabled),
			JSON.stringify(gates[id].branches),
		])}
	></Table>
</Layout>
