---
import Description from '../components/Description.astro';
import MainHeading from '../components/MainHeading.astro';
import SubHeading from '../components/SubHeading.astro';
import Table from '../components/Table.astro';
import Layout from '../layouts/Layout.astro';
export const prerender = true;

const importFiles = await Astro.glob('../../../data/other/graphql.json');
const sections = importFiles[0].default;

---
<Layout title="GraphQL - Cloudflare Datamining" description="Discover Cloudflare's full GraphQL Schema">
	<MainHeading title="GraphQL" />
	<Description>
		<p>This lists all of the available datasets and fields in Cloudflare's GraphQL API.</p>
	</Description>
	<div class="space-y-6">
		{Object.keys(sections).map((section: string) => (
			<div>
				<SubHeading category={section} subcategory={sections[section].__description} />
				<Table
					headers = {['Field', 'Description']}
					widths={['w-1/4', 'w-3/4']}
					data = {Object.keys(sections[section]).map((field: string) => field !== '__description' && [field, sections[section][field]] || [])}
				></Table>
			</div>
		))}
	</div>
</Layout>
