---
import Layout from '../layouts/Layout.astro';
import FlagsTable from '../components/FlagsTable.astro';

const importFiles = await Astro.glob('../../../data/other/graphql.json');
const flags = importFiles[0].default;

---
<Layout title="GraphQL - Cloudflare Datamining">
	<main class="m-auto max-w-5xl p-4">
		<FlagsTable title="GraphQL" data={flags}></FlagsTable>
	</main>
</Layout>
