---

import icons from '../../../data/icons/es/reactsvgs/index.js';
import CFIcon from '../components/CFIcon.astro';
import Description from '../components/Description.astro';
import MainHeading from '../components/MainHeading.astro';
import Layout from '../layouts/Layout.astro';
export const prerender = true;
---

<Layout
	title="Brand Icons - Cloudflare Datamining"
	description="List of Cloudflare brand icons"
>
	<MainHeading title="Icons" />
	<Description>
		<p>
			Cloudflare uses a wide variety of icons throughout their dashboards and for products. This extracts icons from their React components and displays them all below, for easy usage in your own projects.
			Please refer to Cloudflare's own documentation for branding guidelines.
		</p>
	</Description>
	<div
		class="grid auto-rows-fr grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4"
	>
		{
			Object.entries(icons).map(([key, iconComponent]) => (
				<div class="flex flex-col items-center justify-between">
					<CFIcon icon={iconComponent} key={key} />
				</div>
			))
		}
	</div>
</Layout>

<script>
	function addButtonClickHandlers() {
		const copyButtons = document.querySelectorAll('button.copyButton');
		if (!copyButtons) {
			return;
		}
		for (const button of copyButtons) {
			button.addEventListener('click', async (event) => {
				const target = event?.target as HTMLElement;
				const parent =
					target?.parentElement?.parentElement?.parentElement;
				const code = parent?.querySelector('svg');
				if (!code) {
					return alert('Could not find code to copy.');
				}
				await navigator.clipboard.writeText(code.outerHTML);
				alert(
					`Copied ${
						(button as HTMLButtonElement).dataset.name
					} icon to the clipboard.`,
				);
			});
		}
	}
	addButtonClickHandlers();
</script>
