---
import Layout from '../layouts/Layout.astro';
export const prerender = true;
---
<Layout title="Cloudflare Datamining" description="Discover Cloudflare flags, entitlements, GraphQL schemas, and more!">
	<div class="prose mx-auto dark:prose-invert">
		<h1>Cloudflare Datamining</h1>
		<p>
			For more information, check out the <a href="https://github.com/Cloudflare-Mining/Cloudflare-Datamining" target="_blank">GitHub Repository</a>. Not all information is available on this site yet.
		</p>
		<p>Visit the pages linked in the site's navigation for more information.</p>

		<h2>Developer Platform Compatibility Matrix</h2>
		<p>Some features of Cloudflare's developer platform do not work well together. The following spreadsheet maintains a list of Cloudflare developer platform features and how well they work together.</p>
		<p>This includes bindings with Wrangler, features that only work locally vs remotely, Workers bindings that don't work in Pages Functions, and more.</p>
		<p><a href="https://docs.google.com/spreadsheets/d/1T7j7FZZO7zmkrEegzhMeMtlFPIh-efYGMc7BuenMPWY/edit?usp=sharing">Cloudflare Dev Compatibility Matrix</a></p>
	</div>
</Layout>
