---
import Layout from '../layouts/Layout.astro';

---
<Layout title="Registrar - Cloudflare Datamining">
	<main class="m-auto max-w-5xl p-4">
		<h1 class="my-4 text-3xl">Products</h1>
		<ul>
			<li><h2 class="text-xl"><a href="/products/pages">Pages</a></h2></li>
		</ul>
	</main>
</Layout>

