---
import Layout from '../layouts/Layout.astro';
const importFiles = await Astro.glob('../../../data/registrar/_list.json');
const registrar = importFiles[0].default;

const formatter = new Intl.NumberFormat('en-US', {
	style: 'currency',
	currency: 'USD',
	minimumFractionDigits: 2,
});
---
<Layout title="Registrar - Cloudflare Datamining">
	<main class="m-auto max-w-5xl p-4">
		<h1 class="my-4 text-3xl">Registrar</h1>
		<table class="mb-8 w-full table-auto p-2">
			<thead class="border-b-2 border-solid border-b-gray-300 bg-gray-200 text-left dark:border-b-gray-700 dark:bg-gray-800">
				<tr>
					<th class="p-1">TLD</th>
					<th class="p-1">Price</th>
					<th class="p-1">Renewal</th>
					<th class="p-1">ICANN Fee</th>
				</tr>
			</thead>
			<tbody>
				{Object.keys(registrar).map(tld => (
					<tr class="border-b border-solid border-b-gray-300 dark:border-b-gray-600">
						<td class="w-1/4 p-1">{tld}</td>
						<td class="w-1/4 p-1">{formatter.format(registrar[tld].price)}</td>
						<td class="w-1/4 p-1">{formatter.format(registrar[tld].renewal)}</td>
						<td class="w-1/4 p-1">{formatter.format(registrar[tld].icann_fee)}</td>
					</tr>
				))}
			</tbody>
		</table>
	</main>
</Layout>

