---
import Layout from '../layouts/Layout.astro';
const importFiles = await Astro.glob('../../../data/registrar/_list.json');
const registrar = importFiles[0].default;

const formatter = new Intl.NumberFormat('en-US', {
	style: 'currency',
	currency: 'USD',
	minimumFractionDigits: 2,
});
---
<Layout title="Registrar - Cloudflare Datamining">
	<main class="m-auto p-4 max-w-5xl">
		<h1 class="my-4 text-3xl">Registrar</h1>
		<table class="table-auto w-full mb-8 p-2">
			<thead class="text-left border-b-2 border-b-gray-700 bg-gray-800 border-solid">
				<tr>
					<th class="p-1">TLD</th>
					<th class="p-1">Price</th>
					<th class="p-1">Renewal</th>
					<th class="p-1">ICANN Fee</th>
				</tr>
			</thead>
			<tbody>
				{Object.keys(registrar).map(tld => (
					<tr class="border-b border-b-gray-600 border-solid">
						<td class="p-1 w-1/4">{tld}</td>
						<td class="p-1 w-1/4">{formatter.format(registrar[tld].price)}</td>
						<td class="p-1 w-1/4">{formatter.format(registrar[tld].renewal)}</td>
						<td class="p-1 w-1/4">{formatter.format(registrar[tld].icann_fee)}</td>
					</tr>
				))}
			</tbody>
		</table>
	</main>
</Layout>

