---
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
export interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-200">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width">
		<!-- <meta name="generator" content={Astro.generator}> -->
		<!-- <meta name="theme-color" content="#1e40af"> -->
		{description && <meta name="description" content={description}/>}
		<meta name="color-scheme" content="dark light">
		<title>{title}</title>
	</head>
	<body class="h-full">
		<div class="min-h-full">
			<Header />

			<div class="py-10">
				<div class="mx-auto max-w-3xl px-4 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-12 lg:gap-8 lg:px-8">
					<div class="hidden lg:col-span-3 lg:block xl:col-span-2">
						<Nav usage="desktop" />
					</div>
					<main class="lg:col-span-9 xl:col-span-10">
						<slot />
					</main>
				</div>
			</div>
		</div>
	</body>
</html>
