---
import CopyIcon from '../../../data/icons/es/reactsvgs/Copy.js';

export interface Props {
	icon: Function; // eslint-disable-line @typescript-eslint/no-unsafe-function-type
	key: string;
}

const {
	icon,
	key,
}: {
	icon: Function; // eslint-disable-line @typescript-eslint/no-unsafe-function-type
	key: string;
} = Astro.props;

const Icon = icon;
---

<button
	class="copyButton group relative flex size-full flex-col items-center rounded-md bg-white p-2 shadow-md dark:bg-gray-800"
	data-name={key}
	title={`Copy ${key} to clipboard`}
>
	<div class="flex flex-1 items-center">
		<div
			class="w-8 text-gray-700 group-hover:text-gray-900 dark:text-gray-300 dark:group-hover:text-gray-100"
		>
			<Icon />
		</div>
	</div>
	<p
		class="mt-4 w-full flex-none text-center font-mono text-xs leading-tight"
	>
		{key}
	</p>
	<div
		class="absolute right-0.5 top-0.5 m-0 size-8 rounded-full p-2 text-gray-600 group-hover:bg-gray-200 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:bg-gray-600 dark:group-hover:text-gray-100"
	>
		<CopyIcon />
	</div>
</button>

<style is:global>
	button.copyButton svg {
		fill: currentColor;
	}
</style>
