---
import MainHeading from './MainHeading.astro';
import SubHeading from './SubHeading.astro';
import Table from './Table.astro';
export interface Props {
	data: object;
	title: string;
	headers?: string[]
}

const { data, title, headers }: { data: any, title: string, headers?: string[] } = Astro.props;
const tableHeaders = headers ?? ['Entitlement', 'Default Value'];

function getValue(data:string | object) {
	if (typeof data === 'string') {
		return data;
	}
	return JSON.stringify(data);
}
---

<MainHeading title={title} />
<div class="space-y-6">
	{Object.keys(data).map(category => (
		<div>
			<SubHeading category={category} />
			<Table
				headers = {tableHeaders}
				widths={['w-2/3', 'w-1/3']}
				data = {Object.keys(data[category]).map((item:string) => [item, getValue(data[category][item])])}
			></Table>
		</div>
	))}
</div>
