---
import Table from './Table.astro';
export interface Props {
	data: object;
	title: string;
}

const {data, title}:{data: any, title:string} = Astro.props;

function getValue(data:string|object){
	if(typeof data === 'string'){
		return data;
	}
	return JSON.stringify(data);
}
---
<h1 class="my-4 text-3xl">{title}</h1>
{Object.keys(data).map(category => (
	<h2 class="text-xl mb-2" id={category}><a href={`#${category}`}>{category}</a></h2>
	<Table
		headers = {["Entitlement", "Default Value"]}
		widths={["w-1/2", "w-1/2"]}
		data = {Object.keys(data[category]).map((item:string) => [item, getValue(data[category][item])])}
	></Table>
))}