<footer class="m-auto bg-gray-200 p-4 dark:bg-gray-700">
	<div class="m-auto max-w-5xl">
		<p>All data listed on this website is copyright Cloudflare, Inc. unless otherwise stated. I assert no claims to its accuracy or ownership, and am happy to remove anything upon request. I only do this because I love Cloudflare. 🧡</p>
	</div>
</footer>