---
const navItems = [
	{
		label: 'Account Flags',
		path: '/account-flags/',
	},
	{
		label: 'Account Entitlements',
		path: '/account-entitlements/',
	},
	{
		label: 'Known Account Entitlements',
		path: '/known-account-entitlements/',
	},
	{
		label: 'Zone Flags',
		path: '/zone-flags/',
	},
	{
		label: 'Zone Entitlements',
		path: '/zone-entitlements/',
	},
	{
		label: 'Known Zone Entitlements',
		path: '/known-zone-entitlements/',
	},
	{
		label: 'GraphQL',
		path: '/graphql/',
	},
	{
		label: 'Registrar',
		path: '/registrar/',
	},
	{
		label: 'Colos',
		path: '/colos/',
	},
	{
		label: 'Products',
		path: '/products/',
	},
];
---

<header>
	<nav class="flex flex-wrap items-center justify-between bg-blue-800 p-6">
		<div class="mr-6 flex shrink-0 items-center text-white">
			<a href="/" class="text-xl font-semibold tracking-tight">Cloudflare Datamining</a>
		</div>

		<nav class="block w-full grow gap-4 lg:flex lg:w-auto lg:items-center">
			{navItems.map(item => (
				<a
					href={item.path}
					class={[
						Astro.url.href.endsWith(item.path) || Astro.url.href.endsWith(item.path + '/') ? 'underline underline-offset-4	' : '',
						"block mt-4 lg:inline-block lg:mt-0 text-blue-100 hover:text-white",
					].join(' ').trim()}
				>
					{item.label}
				</a>
			))}
			<a href="https://discord.gg/Z94Hn6qVDm" target="_blank" class="ml-auto mt-4 block text-blue-100 hover:text-white lg:mt-0 lg:inline-block">Discord</a>
		</nav>
	</nav>
</header>
