---
import Nav from './Nav.astro';
const updated = new Date().toISOString();
---

<header id="header" class="bg-white shadow-sm lg:static lg:overflow-y-visible">
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<div class="relative flex justify-between h-16 items-center lg:gap-8">
			<a class="text-xl leading-none" href="/">
				<span class="font-extrabold">Cloudflare</span><br>Datamining
			</a>
			<span class="hidden lg:block text-right leading-tight"><span class="uppercase text-xs">Last Updated</span><br/><span id="updated">{updated}</span></span>
			<div class="flex items-center md:absolute md:inset-y-0 md:right-0 lg:hidden">
				<button id="toggle" type="button" class="-mx-2 inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-rose-500" aria-expanded="false">
					<span class="sr-only">Toggle menu</span>
					<svg id="open" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
					</svg>
					<svg id="close" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>
			</div>
		</div>
	</div>

	<nav id="menu" class="hidden lg:hidden p-4" aria-label="Global">
		<Nav usage="mobile" />
	</nav>
</header>

<script>
	document.getElementById("toggle")?.addEventListener("click", function() {
		document.getElementById("open")?.classList.toggle("hidden");
		document.getElementById("close")?.classList.toggle("hidden");
		document.getElementById("menu")?.classList.toggle("hidden");
		document.getElementsByTagName('body')[0]?.classList.toggle("overflow-hidden");
		const header = document.getElementById("header");
		header?.classList.toggle("fixed");
		header?.classList.toggle("inset-0");
		header?.classList.toggle("z-40");
		header?.classList.toggle("overflow-y-auto");
	});

	const updated = document.getElementById("updated");
	if (updated) {
		const diff = new Date(updated.innerText) - new Date();
		const formatter = new Intl.RelativeTimeFormat('en-UK', { numeric: 'auto' });
		updated.innerText = formatter.format(Math.round(diff / 1000 / 60 / 60 / 24), 'day');
	}
</script>