---
export interface Props {
	category: string;
	subcategory?: string;
}

const { category, subcategory } = Astro.props;
---

<h2 class="break-all text-xl font-semibold" id={category}><a href={`#${category}`}>{category}</a></h2>
{subcategory && <h3>{subcategory}</h3>}
