---
export interface Props {
	category: string;
	subcategory?: string;
}

const {category, subcategory} = Astro.props
---

<h3 class="text-xl font-semibold" id={category}><a href={`#${category}`}>{category}</a></h3>
{subcategory && <h4>{subcategory}</h4>}