---
export interface Props {
	headers: string[];
	widths?: string[];
	data: any;
}

const {headers, data, widths} = Astro.props;

---
<div class="overflow-x-auto">
	<table class="table-auto w-full mb-8 p-2  overflow-scroll">
		<thead class="text-left border-b-2 border-b-gray-700 bg-gray-800 border-solid">
			<tr>
				{headers.map((header:string) => (
					<th class="p-1">{header}</th>
				))}
			</tr>
		</thead>
		<tbody>
			{data.map((item:string[]) => (
				<tr class="border-b border-b-gray-600 border-solid">
					{item.map((value: string, index: number) => (
						<td class={["p-1", widths?.[index]].join(' ')}>{value}</td>
					))}
				</tr>
			))}
		</tbody>
	</table>
</div>