---
export interface Props {
	headers: string[] | undefined;
	widths?: string[];
	data: any;
}

const {headers, data, widths} = Astro.props;

---
<div class="overflow-x-auto">
	<table class="mb-8 w-full table-auto overflow-scroll  p-2">
		<thead class="border-b-2 border-solid border-b-gray-700 bg-gray-800 text-left">
			<tr>
				{(headers ?? []).map((header:string) => (
					<th class="p-1">{header}</th>
				))}
			</tr>
		</thead>
		<tbody>
			{data.map((item:string[]) => (
				<tr class="border-b border-solid border-b-gray-600">
					{item.map((value: string, index: number) => (
						<td class={["p-1", widths?.[index]].join(' ')}>{value}</td>
					))}
				</tr>
			))}
		</tbody>
	</table>
</div>